/* src/app/pages/p401/p401.page.scss */
  
  .error-container {
    text-align: center;
    margin-top: 50px;
  
    h1 {
      color: #e44d26;
      font-size: 80px;
      margin: 0;
    }
  
    p {
      font-size: 18px;
      color:white;
    }
  }
  